body{
font-family: 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Noto Sans TC', sans-serif;
text-transform:none;
}
.bg-primary{
	background-color:#488ac4!important;
	background-image:url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}
